# Byte-compiled Python files
*.pyc
*~
__pycache__/

# Python virtual environments
.env/
myvenv/
venv/
hershey_venv/

# Database files
*.sqlite3

# Static files
/static/

# macOS system files
.DS_Store
._*
.Spotlight-V100
.Trashes
.fseventsd

# Windows system files
Thumbs.db
Thumbs.db.*
ehthumbs.db
ehthumbs.db.*
[Dd]esktop.ini
$RECYCLE.BIN/

# Visual Studio Code files
.vscode/
.history/
*.code-workspace

# Logs
*.log
*.log.*

# Testing and coverage
.tox/
.nox/
.coverage
*.cover
coverage.xml
.cache/
pytest_cache/
nosetests.xml

# IDE files
.idea/
*.iml
.DS_Store
